{% extends 'base_layout.html' %}

{% block body %}
<div class="col-sm-12 text-center"><h1>Predict Pokemon From Pictures</h1><br></div>

<div class="col-sm-12 bg-dark text-center mx-auto" style="border-radius: 30px; padding-bottom: 40px;">
        <div class="row">

        <div class="col-sm-12 text-center mt-4">
            <img class="mb-4 img-fluid" id="blah" width="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="your image"/>
            <form class="form-inline justify-content-center" method="post" enctype="multipart/form-data">
                <input type="file" name="file1" accept="image/*" onchange="readURL(this);">
                <input class="btn btn-info" type="submit" value="SUBMIT">
            </form>

            <hr class="bg-white mt-5" style="width: 94%; opacity: 0.5;">
            <h2 class="mt-5 mb-5">Prediction Results</h2>
        </div>
{% if allPokemon %}           
        {% for i in allPokemon %}
        <div class="col-sm-6 mx-auto">
                <img class="img-fluid mx-auto mb-4" src="{{i.url}}" style="width: 65%;">
                <h3 class="text-center">
                    {% if i.type1 == 'Bug' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ccff00;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Dragon' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #fd5b78;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Electric' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ffcc33;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Fairy' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff6eff;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Fighting' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff6037;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Fire' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #FF355E;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Ghost' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #d3d3d3;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Grass' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #66ff66;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Ground' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #c47926;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Ice' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #15f4ee;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Normal' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ffff66;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Poison' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #A117F2;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Psychic' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff9933;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Rock' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #98999A;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type1 == 'Water' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #50bfe6;">{{i.type1}}</span>                
                    {% endif %}
                    {% if i.type2 == 'Fairy' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff6eff;">{{i.type2}}</span>                    
                    {% endif %}   
                    {% if i.type2 == 'Fighting' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff6037;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Flying' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #aaf0d1;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Grass' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #66ff66;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Ground' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #c47926;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Ice' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #15f4ee;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Poison' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #A117F2;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Psychic' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff9933;">{{i.type2}}</span>                    
                    {% endif %}   
                    {% if i.type2 == 'Rock' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #98999A;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Steel' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #001eff;">{{i.type2}}</span>                    
                    {% endif %}
                    {% if i.type2 == 'Water' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #50bfe6;">{{i.type2}}</span>                    
                    {% endif %}      
                    {% if i.type2 == '-' %}        
                            <span class="badge badge-pill p-2 w-25" style="background-color: #ff00cc;">{{i.type2}}</span>                    
                    {% endif %}                
                    </h3>
            </div>
            <div class="col-sm-6 mt-5">
                <table class="table table-borderless text-left ml-5">
                    <thead>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Name: </h4></td>
                        <th><h4>{{i.name}}</h4></th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><h4 style="color: #15f4ee;">HP:</h4></td>
                        <th><h4>{{i.hp}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Attack: </h4></td>
                        <th><h4>{{i.attack}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Defense: </h4></td>
                        <th><h4>{{i.defen}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Sp. Atk: </h4></td>
                        <th><h4>{{i.atk}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Sp. Def: </h4></td>
                        <th><h4>{{i.de}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Speed: </h4></td>
                        <th><h4>{{i.speed}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Total: </h4></td>
                        <th><h4>{{i.total}}</h4></th>
                      </tr>
                      <tr>
                        <td><h4 style="color: #15f4ee;">Legendary: </h4></td>
                        <th><h4>{{i.legen}}</h4></th>
                      </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %} 
{% else %}         
     <div class="col-sm-6 mx-auto">
        <img class="img-fluid mx-auto" src="https://media.tenor.com/images/3c454482340c614ff143c74a661be32b/tenor.gif" style="width: 65%;">      
    </div>
    <div class="col-sm-6 mt-5">
        <table class="table table-borderless text-left ml-5">
            <thead>
              <tr>
                <td><h4 style="color: #15f4ee;">Name: </h4></td>
                <th><h4>-</h4></th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h4 style="color: #15f4ee;">HP:</h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Attack: </h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Defense: </h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Sp. Atk: </h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Sp. Def: </h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Speed: </h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Total: </h4></td>
                <th><h4>-</h4></th>
              </tr>
              <tr>
                <td><h4 style="color: #15f4ee;">Legendary: </h4></td>
                <th><h4>-</h4></th>
              </tr>
            </tbody>
        </table>
    </div>
{% endif %}            
    </div>   
</div>

{% endblock %}