<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/"><img src="https://aux3.iconspalace.com/uploads/645019229296460368.png" width="35px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Type One</a>
        <ul class="dropdown-menu bg-dark border">
          <li><a href="/types?type1=Bug">Bug</a></li>   
          <li><a href="/types?type1=Dragon">Dragon</a></li>   
          <li><a href="/types?type1=Electric">Electric</a></li>
          <li><a href="/types?type1=Fairy">Fairy</a></li>
          <li><a href="/types?type1=Fighting">Fighting</a></li>
          <li><a href="/types?type1=Fire">Fire</a></li>
          <li><a href="/types?type1=Ghost">Ghost</a></li>
          <li><a href="/types?type1=Grass">Grass</a></li>
          <li><a href="/types?type1=Ground">Ground</a></li>
          <li><a href="/types?type1=Ice">Ice</a></li>
          <li><a href="/types?type1=Normal">Normal</a></li>
          <li><a href="/types?type1=Poison">Poison</a></li>
          <li><a href="/types?type1=Psychic">Psychic</a></li>
          <li><a href="/types?type1=Rock">Rock</a></li>
          <li><a href="/types?type1=Water">Water</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Type Two</a>
        <ul class="dropdown-menu bg-dark border">
          <li><a href="/types?type2=Fairy">Fairy</a></li>
          <li><a href="/types?type2=Fighting">Fighting</a></li>
          <li><a href="/types?type2=Flying">Flying</a></li>
          <li><a href="/types?type2=Grass">Grass</a></li>
          <li><a href="/types?type2=Ground">Ground</a></li>
          <li><a href="/types?type2=Ice">Ice</a></li>
          <li><a href="/types?type2=Poison">Poison</a></li>
          <li><a href="/types?type2=Psychic">Psychic</a></li>
          <li><a href="/types?type2=Rock">Rock</a></li>
          <li><a href="/types?type2=Steel">Steel</a></li>
          <li><a href="/types?type2=Water">Water</a></li>
        </ul>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/predict">Predict</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>  
</nav>